<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Barbershop Morgado's</title>
    <!-- style -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>Barbershop Morgado's</h1>
    <h2>Página inicial</h2>

    <p class="paragrafo-vermelho">My first paragraph.</p>

    <a th:href="@{/clientes/listar}" class="btn btn-primary">Acessar lista de Clientes</a>

    <!-- javascript caso necessario -->
    <script src="js/main.js"></script>
</body>
</html>